/**************** Navbar ***************/
.navbar-light .navbar-nav .nav-link a {
    cursor: pointer;
}

.navbar-collapse {
    text-align: center;
}
.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
    padding-left: 5%;
}
.navbar-toggle
{
  background:yellow ; /*Whatever colour you want for background */
}
@media screen and (max-width: 767px) {
    .contact-logo img {
        display: none;
    }
    .contact-social{
        display: none;
    }
    .contact-text-mobile{
        display: none;
    }

    /* .display-contact h6{
        font-size: 1.5vw;
    } */
  }


  

/********************************** about ********************/

.display-profile{
    display: flex;
}

.display-profile2 span{
    font-size: 13px;
}
.profile-orange{
    height: 169px;
}

.profile-blue{
    height: 800px;
    width: 100%;
    background-image: url(imgs/profile-blue.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 80px;
}
.profile-blue h1{
    padding-left: 14%;
    font-size: 4vw;
}
.profile-blue :nth-child(1){
    color: #FF9100;
}

.profile-blue :nth-child(2){
    color: white;
    padding-bottom: 33px;
}

.profile-blue p{
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    line-height: 173.1%;
    width: 28vw;
    padding-left: 72px;
    font-size: 2vw;
}

.profile-blue img{
    padding-left: 9%;
    padding-top: 10px;
}
.display-profile2{
    display: inline-block;
    padding-left: 3%;
}

.v-distance{
    padding-top: 203px;
}

.second-img{
    width: 77%;
    padding-left: 148px;
}

.rotate-text{
    margin-top: 44px;
    margin-left: -92px;
    position: absolute;
    width: 215px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg); /* Safari/Chrome */
    -moz-transform: rotate(-90deg); /* Firefox */
    -o-transform: rotate(-90deg); /* Opera */
    -ms-transform: rotate(-90deg); /* IE 9 */
}

.mobile-display img{
    display: none;
}



 

/*************************** skills **********************/

.skills-design img{
    width: 20%;
    padding-top: 3%;
    padding-left: 3%;
    padding-bottom: 3%;
}


.skills-design span{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 2.1vw;
    color: #FFFFFF;
    padding-left: 16px;
}

/*************************** team leaders ***********/

.img1{
    margin-left: 15%;
    height: 332px;
    padding-top: 32px;
    position: absolute;
    z-index: 50;
    margin-top: 18px;
    width: 100%;
}

.img1-text{
    margin-top: 172px;
    /* padding-left: 51%; */
    padding-bottom: 19px;
}

.img1-text h5{
    
    font-style: normal;
    font-weight: bold;
    font-size: 1.7rem;
    color: #FF9100;
    line-height: 11px;
}

.img1-text span{
    
    font-style: normal;
    font-weight: bold;
    font-size: 0.7rem;
    color: #28405B;
}



.img2{
    margin-left: 22%;
    height: 300px;
    padding-top: 32px;
    width: 100%;
}

.img2-text{
    margin-top: 160px;
    padding-left: 16%;
}

.img2-text h5{
    
    font-style: normal;
    font-weight: bold;
    font-size: 1.7rem;
    color: #FF9100;
    line-height: 11px;
}

.img2-text span{
    
    font-style: normal;
    font-weight: bold;
    font-size: 0.7rem;
    color: #FFFFFF;
}


.img3{
    margin-left: 16%;
    height: 300px;
    margin-top: -68px;
    width: 114%;
}

.img3-text{
    margin-top: 80px;
    padding-left: 26%;
}

.img3-text h5{
    
    font-style: normal;
    font-weight: bold;
    font-size: 1.7rem;
    color: #FF9100;
    line-height: 11px;
}

.img3-text span{
    
    font-style: normal;
    font-weight: bold;
    font-size: 0.7rem;
    color: #28405B;
}

.section2 .dot{
    width: 23px;
    margin-left: 18%;
    height: 23px;
    background: #FF9100;
    position: absolute;
    border-radius: 50%;
    top: 35px;
}

.section2 .line-team{
    position: absolute;
    width: 100%;
     height: 0px;
     left: 0px;
     top: 130px;
     border-bottom: 3px solid #28405B;
}



/******************************* Contact Us *************************/

.contact-cover{
    background-image: url(imgs/contact-img2.png);
    position: relative;
}

.contact-title{
    margin-top: 59px;
    margin-left: 8%;
    font-size: 1.9rem;
}

.contact-title :nth-child(1){
    color: white;

}

.contact-title :nth-child(2){
    color: #FF9100;
}

.display-contact{
    display: block;
    color: white;
}

.display-contact span{
    position: relative;
    top: -9px;
}
.contact-details{
    display: flex;
}
.contact-details img{
    width: 44px;
    height: 44px;
}

.contact-logo img{
    padding-left: 28%;
}

.contact-social :nth-child(1){
    padding-bottom: 20px;
}
.contact-social span{
    color: white;
}
.contact-text2{
    margin-top: 247px;
    margin-left: -105px;
    position: absolute;
    -webkit-transform: rotate(-90deg);
    width: 158px;

}



/****************************** projects ******************/
.section2 .line-project{
    position: absolute;
    width: 100%;
     height: 0px;
     left: 0px;
     top: 130px;
     border-bottom: 3px solid #28405B;
}
.img-1 img{ 
    width: 100%;
    height: 600px;
}


.img-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 140.2%;
    color: #000000;
}

.project-block{
    display: inline-flex;
    width:100%;
}

.project-block2{
    display: inline-flex;
    width:100%;
    margin-top: 35px;
}
.img-block1{
    padding-left: 17%; 
    padding-top: 8px;
     width: 50%;
}

.img-block2{
    padding-left: 4%;
     padding-top: 8px;
     width: 39%;
}

.blue-back{
    background:url(imgs/blue-background.png);
    height: 207px;
    width: 100%;
    margin-bottom: 136px;
}
.orange-style{
    display: inline-flex;
}

.orange-style :nth-child(1){
    height: 68px;
    margin-top: 26px;
    width: 10px;
}

.orange-style :nth-child(2){
    position: relative;
    top: 30px;
    width:100%;
}

.hr-style{
    width: 72%;
    margin-left: 11%;
}

.hr-Hight{
    margin-top: 109px;
}


.gray-background{
    background-image: url(imgs/gray-back.png);
    background-repeat: no-repeat;
    padding-top: 134px;
}
.blue-background3{
    background:url(imgs/blue2.png);
    background-position-x: 85px;
    background-position-y: 324px;
    background-repeat: no-repeat;
    /* background-size: contain; */
    
}

 /******************** footer ***************/
 
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #28405B;
    color: white;
    position: relative;
    margin-top: 158px;
 }

 .footer ul li a {
     color: white;
 }

 .width-icon{
     width: 32px;
     position: relative;
 }

 .footer-mobile{
    display: none;
  }
 .footer hr{
     background-color: white;
 }

 .back-social{
     background-image: url(imgs/BG.png);
     background-repeat: no-repeat;
     position: relative;
     width: 29px;
     background-size: contain;
 }

 /******************** index *****************/


 .index-design span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    padding-left: 16px;
}

.index-design img {
    width: 20%;
    padding-top: 3%;
    padding-left: 3%;
    padding-bottom: 3%;
}

.index-leaders img{
    width:83% ;
     height: 310px;
}

@media screen and (max-width: 991px) and (min-width: 767px) {

    .profile-blue h1 {
        font-size: 5vw;
    }

    .profile-blue p {
        line-height: 179.1%;
        width: 75vw;
        padding-left: 14%;
        font-size: 2.5vw;
    }

    .profile-blue {
        height: 614px;
    }

    .rotate-text{
        display: none;
    }

    .v-distance {
        padding-top: 44px;
    }

    .second-img {
        width: 100%;
        padding-left: 0;
    }


 .about_us{
    position: relative;
    background-position-x: 65px;
    height: 693px;
 }


 .about_us p {
    font-size: 12px;
}
.about_us h3 {
    font-size: 19px;
}

.about_us .about3  {
    width: 48%;
}

.about_us .about2  {
    width: 48%;
}

.about_us .about1  {
    width: 48%;
}

/*******teams********/

.section2 .line-team{
    position: absolute;
    top: 0px;
}

.section2 .heading1 {
    padding-left: 18%;
    font-size: 6vw;
}

.section2 .heading2 {
    padding-left: 18%;
    font-size: 6vw;
}
.section2 .dot{
    width: 25px;
    height: 24px;
    margin-left: 3%;
    top: 44px;
}
.img3-text {
    margin-top: 84px;
    padding-left: 0;
}

/********** projects **************/

.section2 .line-project{
    position: absolute;
    top: 85px;
}

.section2 .heading1 {
    padding-left: 18%;
    font-size: 5vw;
}

.section2 .heading2 {
    padding-left: 18%;
    font-size: 5vw;
}
.section2 h2 {
    padding-left: 18%;
    font-size: 2vw;
}
.section2 .dot{
    width: 25px;
    height: 24px;
    margin-left: 3%;
    top: 44px;
}
.blue-back {
    height: 210px;
}

/******************* index **************/


.banner1 .m_heading{
    font-size: 3vw;
    top: 110px;
    margin-left: 16%;
  }
  .banner1 .subheading{
    font-size: 3vw;
    top: 110px;
    margin-left: 16%;
  }
  .banner1 p {
      margin-left: 16%;
      line-height: 3vw;
      font-size: 1.3vw;
  }
  .banner1 button{
    width: 131px;
    height: 46px;
    margin-left: 16%;
    font-size: 15px;
  }
  
  .main-back{
    background-position-y: 427px;
    background-repeat: no-repeat;
    display: flex;
  }
  
  
  .first{
    background-position-x: 49px;
  }
  
  .second{
    background-image: url("imgs/main-blue.png");
    /* background-size: contain; */
    background-repeat: no-repeat;
    height: 441px;
    position: relative;
    margin-top: 30px;
    background-position-y: 60px;
    width: 49vw;
  }
  
  .second :nth-child(1){
    width: 100px;
    position: relative;
    top: 92px;
    margin-left: 149px;
  }
  
  .second :nth-child(2){
    width: 100px;
    margin-left: -62px;
    top: 161px;
    position: relative;
  }
  
  .second :nth-child(3){
    width: 100px;
    margin-left: -49px;
    top: 230px;
    position: relative;
  }
  
  
  .second .bye{
    top: 306px;
    height: 133px;
  
  }
  .second .bye2{
    float: left;
    position: relative;
    top: 339px;
    width: 59%;
    height: 29px;
  }
  .second p{
    float: right;
    position: relative;
    top: 310px;
    margin-right: 14%;
    font-size: 14px
  }

.main-dist{
    margin-bottom: 137px;
    height: 214px;
}
.index-design span {
    font-size: 1.5vw;
    padding-left: 11px;
}
.index-leaders img{
    width:100% ;
     height: 235px;
}
.footer-mobile{
    display: none;
  }

  .footer ul li a {
    color: white;
    font-size: 1.6vw;
}

}

@media screen and (max-width: 766px) and (min-width: 576px)  {

    .profile-blue h1 {
        font-size: 6vw;
    }

    .profile-blue p {
        line-height: 179.1%;
        width: 75vw;
        padding-left: 14%;
        font-size: 3vw;
    }

    .profile-blue {
        height: 614px;
    }

    .rotate-text{
        display: none;
    }

    .v-distance {
        padding-top: 44px;
    }

    .second-img {
        width: 100%;
        padding-left: 0;
    }
    .section2 p {
        font-size: 17px;
        padding-left: 0px;
    }
    .about_us{
        background-image: none;
    }
    .mobile-display img{
        display: block;
        padding-left: 10%;
        width: 94%;
    }

    .about_us .about1 {
        width: 77%;}

    .about_us .about2 {
         width: 77%;}

    .about_us .about3 {
          width: 77%;}


     /*******teams*****/
     
     .section2 .line-team{
        position: absolute;
        top: 0px;
    }
    .section2 .heading1 {
        padding-left: 23%;
        font-size: 4vw;
    }

    .section2 .heading2 {
        padding-left: 23%;
        font-size: 4vw;
    }
    .section2 .dot{
        width: 17px;
        height: 17px;
        margin-left: 3%;
        top: 22px;
    }

    .img1-text h5 {
        font-size: 4vw;
    }

    .img2-text  h5 {
        font-size: 4vw;
    }
    .img3-text {
        margin-top: 33px;
        padding-left: 0;
    }

    /***********projects **********/

    .section2 .line-project{
        position: absolute;
        top: 60px;
    }
    .section2 .heading1 {
        padding-left: 23%;
        font-size: 4vw;
    }

    .section2 .heading2 {
        padding-left: 23%;
        font-size: 4vw;
    }
    .section2 .dot{
        width: 17px;
        height: 17px;
        margin-left: 3%;
        top: 22px;
    }
    .section2 h2{
        padding-left: 22%;
        font-size: 3vw;
    }

    .orange-style :nth-child(1) {
        height: 39px;
        margin-top: 19px;
        width: 9px;
    }
    .orange-style :nth-child(2) {
        position: relative;
        top: 17px;
    }
    .blue-back {
        height: 199px;
    }

    /***** index ***********/
    .arrows img{
        width: 37%;
    }

    .desktop-main{
        display: block;
      }

    .main-back{
        display: block;
        background-position-y: 662px;
      }

      .first {
        height: 708px;
        margin-top: 30px;
        height: 387px;
        width: 100%;
        margin-bottom: 0;
        background-position-x: 0px;
        background-size: cover;
      }

      .banner1 .m_heading {
        font-size: 5.5vw;
        top: 22px;
        margin-left: 5%;
    }
    .banner1 .subheading {
        top: 37px;
        margin-left: 6%;
        font-size: 4.5vw;
    }

    .banner1 p {
        top: 58px;
        margin-left: 7%;
        line-height: 4vw;
        font-size: 3vw;
    }

   .banner1 button {
    width: 124px;
    height: 49px;
    margin-left: 6%;
    top: 11vw;
    border-radius: 10px;
   }

   .second {
    /* background-size: contain; */
    background-repeat: no-repeat;
    height: 546px;
    position: relative;
    margin-top: -23px; 
    background-position-y: 0;
     width: 100%;
     margin-bottom: 47px;
}

.second .bye {
    top: -3px;
    margin-left: 3%;
    z-index: 50;
    height: 132px;
}
.second .bye2{
    float: right;
    position: relative;
    top: -142px;
    width: 81%;
}

.second p {
    float: left;
    position: relative;
    top: 242px;
    margin-left: 4%;
    color: white;
    text-decoration-line: underline;
}

.second :nth-child(1) {
    margin-left: 67px;
}

    .main-dist{
        margin-bottom: 137px;
        height: 198px;
    }

    .mobile-skill {
        display: none;
    }
    .index-design span {
        font-size: 2.1vw;
        padding-left: 9px;
    }
    .index-leaders img {
        width: 100%;
        height: 201px;
    }
    .footer-desktop{
        display: none;
      }
      .footer-mobile{
        display: block;
    }
    
/**************** contact ****************/
    .height-img-contact{
    height: 367px;
     }

}


@media screen and (max-width: 575px) and (min-width: 320px)  {


    .profile-blue h1 {
        font-size: 7vw;
    }

    .profile-blue p {
        line-height: 179.1%;
        width: 75vw;
        padding-left: 14%;
        font-size: 4vw;
    }

    .profile-blue {
        height: 614px;
    }

    .rotate-text{
        display: none;
    }

    .v-distance {
        padding-top: 44px;
    }

    .second-img {
        width: 100%;
        padding-left: 0;
    }

    .section2 p {
        font-size: 15px;
        padding-left: 0px;
    }

    .about_us{
        background-image: none;
    }
    .mobile-display img{
        display: block;
        padding-left: 10%;
        width: 94%;
        margin-top: 62px;
        height: 500px;
    }

    .about_us .about1 {
        width: 90%;}

    .about_us .about2 {
         width: 90%;}

    .about_us .about3 {
          width: 90%;}

    /******teams******/
    
    .section2 .line-team{
        position: absolute;
        top: 0px;
    }
    .section2 .heading1 {
        padding-left: 23%;
        font-size: 4vw;
    }

    .section2 .heading2 {
        padding-left: 23%;
        font-size: 4vw;
    }
    .section2 .dot{
        width: 13px;
        height: 13px;
        top: 14px;
        margin-left: 0;
    }
    .img1-text  {
        padding-left: 0;
        margin-top: 192px;
        padding-bottom: 0;
    }
    .img1-text  h5 {
        font-size: 4vw;
    }

    .img2-text{
        margin-top: 32px;
        padding-left: 0%;
    }

    .img2 {
        margin-left: 0;
        height: 300px;
        padding-top: 0px;
    }

    .img2-text  h5 {
        font-size: 4vw;
    }
    .img1 {
        margin-left: 5%;
        height: 194px;
        padding-top: 0px;
        margin-top: 129px;
        width: 100%;
    }

    .img2 {
        height: 172px;
        width: 100%;
       }

    .img3 {
        margin-left: 4%;
        height: 171px;
        margin-top: -68px;
        width: 100%;
    }

    .img3-text {
        margin-top: 33px;
        padding-left: 0;
    }

    /************** projects*******/

    .section2 .line-project{
        position: absolute;
        top: 42px;
    }
    .section2 .heading1 {
        padding-left: 22%;
        font-size: 4vw;
    }

    .section2 .heading2 {
        padding-left: 22%;
        font-size: 4vw;
    }

    .section2 h2{
        padding-left: 22%;
        font-size: 3vw;
    }
    .section2 .dot{
        width: 13px;
        height: 13px;
        top: 14px;
        margin-left: 0;
    }

    .top-dis{
       margin-bottom: 700px;
       background-image: none;
    }
    .hr-display{
        display: none;
    }
    
    .gray-background{
        background-image: none;
    }

    .blue-background3{
        background-image: none;
    }
    .project-block{
        display: block;
    }

    .project-block2{
        display: block;
    }

    .img-block1{
        padding-left: 17%;
        padding-top: 8px;
        width: 97%;
        display: block;
    }

    .img-block2{
        padding-left: 17%;
        padding-top: 50px;
        width: 97%;
        display: block;
    }

    /******************** index ********************/

    .desktop-main{
        display: none
    }
    
    .main-back{
        display: block;
        background-position-y: 662px;
      }

      .first {
        height: 708px;
        margin-top: 30px;
        height: 333px;
        width: 100%;
        margin-bottom: 0;
        background-position-x: 0px;
        background-size: cover;
      }

      .banner1 .m_heading {
        font-size: 23px;
        top: 22px;
        margin-left: 5%;
    }
    .banner1 .subheading {
        top: 37px;
        margin-left: 6%;
        font-size: 23px;
    }

    .banner1 p {
        top: 58px;
        margin-left: 7%;
        line-height: 24px;
        font-size: 13px;
    }

   .banner1 button {
    width: 101px;
    height: 39px;
    margin-left: 6%;
    top: 70px;
    border-radius: 10px;
    font-size: 14px;
   }

   .second {
    /* background-size: contain; */
    background-repeat: no-repeat;
    height: 88vh;
    position: relative;
    margin-top: -23px; 
    background-position-y: 0;
     width: 100%;
     margin-bottom: 47px;
}

.second .bye {
    top: -15px;
    margin-left: 4%;
    z-index: 50;
    height: 30vh;
    position: absolute;
}
.second .bye2{
    float: right;
    position: relative;
    top: 0px;
    width: 90%;
}

.second p {
    float: left;
    position: relative;
    top: 242px;
    margin-left: 4%;
    color: white;
    text-decoration-line: underline;
}

.second :nth-child(1) {
    margin-left: 39vw;
    width: 19vw;
    position: absolute;
    top: 17vh;
}

.second :nth-child(2){
    width: 20vw;
    margin-left: 49vw;
    top: 28vh;
    position: absolute;
}
.second :nth-child(3){
    width: 20vw;
    margin-left: 60vw;
    top: 41vh;
    position: absolute;
}

    .arrows img{
        width: 40%;
    }

    .main-dist{
        margin-bottom: 100px;
    }

    .mobile-skill {
        display: none;
    }
    .index-design span {
        font-size: 2.1vw;
        padding-left: 6px;
    }
    .index-leaders img {
        width: 100%;
        height: 296px;
    }

    .lead3{
        display: none;
    }

    /*******************footer ***********/
    .footer-copyright{
        font-size: 4vw;
    }

    .footer ul li a {
        font-size: 4vw;
    }
    .footer-desktop{
      display: none;
    }
    .footer-mobile{
        display: block;
    }

    /************ contact *********/
    .display-contact span {
        font-size: 13px;
    }

    .height-img-contact{
        height: 367px;
         }
    
}